<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>ccc</title>
    <script type="text/javascript" src="../js/jquery/jquery.js"></script>
    <script type="text/javascript" src="../js/nav.js"></script>
    <link href="../css/nav.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="nav">
        <ul class="list">
            <li><a href="index.html">首页</a></li>
            <li><a href="a.html">网站AAAAA</a></li>
            <li><a href="b.html">网站BBBBBBBB</a></li>
            <li><a href="c.html">网站CCCCCCCCCCCC</a></li>
            <li><a href="d.html">网站DDDDD</a></li>
        </ul>
    </div>
<h1>ccc</h1>
</body>
</html>